@import url(http://fonts.googleapis.com/css?family=Jura);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}


#okvir {
	background-color:black;
}

#header{
	background-color: white;
	height: 80px;
	border-bottom: solid 1px #89C13C;
}

#leftmenu {
	position:relative;
	float:left;
	width: 20%;
	background-color: #FFFFFF;
	width: 20%;
	font-family: 'Jura', sans-serif;
	font-size: 16pt;
}

#footer {
	background-color:white;
	position: relative;
	float: left;
	width: 100%;
	text-align: center
}

#header img {
	float:left;
	text-align: left;
	padding-left: 20px;
	height: 70px;
	width: 100px;
}	

.logo {
	position:relative;
	float: left;
	font-family: 'Jura', sans-serif;
	font-size: 25pt;
    font-size: 2.5vw;
	padding-top: 15px;
}

#search {
	float: right;
	padding-right: 15px;
	padding-top: 20px;
}

#search input {
	font-family: 'Jura', sans-serif;
	font-size: 16pt;
	border-radius: 5px;
	height: 30px;
	width: 250px;
}

#search label {
	font-family: 'Jura', sans-serif;
	font-size: 16pt;
}

.logo span {
	color: green;
}


/*levi meni */

#leftmenu ul,
#leftmenu ul li,
#leftmenu ul ul {
  list-style: none;
}



#leftmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#leftmenu ul li.hover,
#leftmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#leftmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#leftmenu ul ul li {
  float: none;
}
#leftmenu ul li:hover > ul {
  visibility: visible;
}
#leftmenu ul ul {
  top: 1px;
  left: 99%;
}
#leftmenu ul li {
  float: none;
}

#leftmenu a {
  display: block;
  padding: 15px 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#leftmenu > ul {
  width: 100%;
}
#leftmenu ul ul {
  width: 100%;
}
#leftmenu > ul > li > a {
  border-right: 6px solid #89C13C;
  color: black;
}

#leftmenu > ul > li a:hover,
#leftmenu > ul > li:hover a {
  background: #89C13C;
}
#leftmenu > ul > li > ul > li:hover a{
	background: white;
	border: 1px solid #89C13C;
}
#leftmenu li {
  position: relative;
}
#leftmenu ul li.has-sub > a:after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}


/* tabela */

#pagecontent { 
	position:relative;
	float: left;
	width: 80%;
	background-color:white;
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#pagecontent h2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Jura', sans-serif;
	font-size: 25pt;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

tr td {
	border-collapse: collapse;
	border: 0px;
}

th {
	height: 70px;
	background-color: #3E7E3E;
	color: white;
	font-size: 16pt;
}
td {
	text-align: center;
	height: 30px;
}

tr:nth-child(even) {
  background-color: #FAFAFA;
}

tr:nth-child(odd) {
  background-color: white;
}

.topleft {
	border-top-left-radius: 30px;
}

tbody > tr:hover td{
	background-color: #DDDDDD;
}


.topicallarge {
	background: #F8F6F6;
	height: 230px;
	width: 503px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
	margin: 3px;
	border-radius: 4px;
}
.topicallarge:hover {
	box-shadow: 10px 10px 5px #89C13C;
}
.topicallarge > img {
	height: 185px;
	width: 270px;
	margin-left: 4px;
}

.topicallarge > h3 {
font-family: 'Jura', sans-serif;	
	text-align: center;
	padding-bottom: 2px;
	
}

.topicallarge > a {
	float: right;
	text-decoration: none;
}

.topicallarge > p {
	float: right;
	width: 210px;
	padding-right: 3px;
	position: relative;
	top: 0%;
}

/*manji*/

.topicalsmall {
	background: #F8F6F6;
	height: 112px;
	width: 248px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
	margin: 3px;
	overflow: hidden;
	border-radius: 3px;
}
.topicalsmall:hover {
	box-shadow: 10px 10px 5px #89C13C;
}
.topicalsmall > img {
	height: 70px;
	width: 110px;
	margin-left: 2px;
}

.topicalsmall > h3 {
font-family: 'Jura', sans-serif;	
	text-align: center;
	padding-bottom: 2px;
	
}

.topicalsmall > a {
	float: right;
	text-decoration: none;
}

.topicalsmall > p {
	float: right;
	width: 120px;
	padding-right: 3px;
	position: relative;
	top: 0%;
}


/*kontakt forma*/

#forma{
	height: 510px;
	width: 620px;
	box-shadow: 10px 10px 5px #888888;
	background-color: #F8F6F6;
	margin: 0 auto;
	padding-left: 20px;
	border-radius: 5px;
}

#pagecontent > form {
	
}

#pagecontent > div >form > h4 {
	padding-top: 20px;
	text-align: center;
	font-size: 15pt;
	margin-bottom: 20px;
	font-weight: normal;
	
}

#pagecontent input {
	height: 30px;
	width: 580px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}
#pagecontent button {
	width: 580px;
	height: 30px;
	border-radius: 5px;
	background-color:#89C13C;
	color: white;
	font-weight: bold;
	font-size: 14pt;
}

#pagecontent textarea {
	padding-left: 5px;
	margin-bottom: 20px;
	width: 580px;
	height: 150px;
	border-radius: 5px;
}

/* stranica sa externim linkovima*/

#linkovi {
	width: 620px;
	box-shadow: 10px 10px 5px #888888;
	background-color: #F8F6F6;
	margin: 0 auto;
	padding-left: 20px;
	border-radius: 5px;
	padding-bottom: 20px;
}

#linkovi a {
	text-decoration: none;
	color: #89C13C;
	font-size: 17pt;
}

#linkovi > ul {
	padding: 30px;
	padding-left: 100px;
	list-style: none;
}

ul  {
    list-style:none;
     margin:0; padding:0;
}
#linkovi ul li {
	  margin:0; 
	  padding:0;
	  padding-top: 3px;
	  background:url(Images/bullet.png) no-repeat 0 0;
	  padding-left:40px; 
	  min-height:40px; 
}