<h2> Uredi komentare</h2>
<div id="forma">
	<div id="adduserform" class="commentsAdmin">
		<div>
			<label>
					<span>Novost:</span>
					<select id="news" onchange="onSelectChange(event)">
						<option value='' disabled selected style='display:none;'>Odaberite novost</option>
					</select>
			</label>
		</div>
	</div>
</div>

<table id="booksTable">
<thead>
	<tr>
		<th class="topleft"> Ime </th>
		<th> Email </th>
		<th>  Komentar</th>
		<th> Vrijeme </th>
		<th> Akcija </th>
	</tr>
</thead>
<tbody id="booksTableTbody">

</tbody>