<h2> Kontaktirajte nas </h2>
<div id="forma">
<form id="contact-form" method="post" action="contactUs">
	<h4>Popunite formu ispod i mi ćemo odgovoriti u roku od 24 časa</h4>

		<div>
			<label>
					<span>Ime: (obavezno)</span>
					<input placeholder="Ime..." type="text" tabindex="1" name="name" required autofocus>
			</label>
		</div>
		<div>
			<label>
					<span>Email: (obavezno)</span>
					<input placeholder="Email..." type="email" tabindex="3" name="email" required>
			</label>
		</div>
		<div>
			<label>
					<span>Naslov: (obavezno)</span>
					<input placeholder="Naslov..." type="text" tabindex="4" name="title" required>
			</label>
		</div>
		<div>
			<label>
					<span>Poruka:</span>
					<textarea tabindex="5" required></textarea>
			</label>
		</div>
		<div>
		<button name="submit" type="submit" id="contact-submit">Pošaljite email</button>
		</div>
	</form>
</div>