<h2> Kontaktirajte nas </h2>
<div id="forma">
<div class="form">
	<h4>Popunite formu ispod i mi ćemo odgovoriti u roku od 24 časa</h4>

		<div>
			<label>
					<span>Ime:</span> <span class="error-hidden">ime mora biti duze od dva karaktera</span>
					<input id="contactName" placeholder="Ime..." type="text" tabindex="1" name="firstName" autofocus onblur="validateName(event)">
			</label>
		</div>
		<div>
			<label>
					<span>Email:</span> <span class="error-hidden">email nije validan</span>
					<input id="contactMail" placeholder="Email..." type="email" tabindex="3" name="email" onblur="validateEmail()">
			</label>
		</div>
		<div>
			<label>
					<span>Naslov:</span> <span class="error-hidden">naslov nije validan</span>
					<input id="contactSubject" placeholder="Naslov..." type="text" tabindex="4" name="title" onblur="validateSubject()">
			</label>
		</div>
		<div>
			<label>
					<span>Poruka:</span> <span class="error-hidden">poruka nije validna</span>
					<textarea id="contactMessage" tabindex="5" onblur="validateMessage()"></textarea>
			</label>
		</div>
		<div>
		<button class="cancelEmail" name="cancel" id="contact-cancel" onclick="cancelSendEmail()">Odustani</button>
		<button class="sendEmail" name="submit" id="contact-submit" onclick="sendEmail()">Pošaljite email</button>
		</div>
	</div>
</div>