<h2> Akademske ustanove sa kojima smo ostvarili saradnju </h2>
<div id="partners">
	<ul>
		<li> <a href="http://www.efsa.unsa.ba/ef/ba"> Ekonomski fakultet Sarajevo </a> </li>
		<li> <a href="http://www.etf.unsa.ba/"> Elektrotehnički fakultet Sarajevo </a> </li>
		<li> <a href="http://www.pfsa.unsa.ba/pf/"> Pravni fakultet Sarajevo </a> </li>
		<li> <a href="http://www.pmf.unsa.ba/"> Prirodno matematički fakultet Sarajevo </a> </li>
		<li> <a href="http://www.ppf.unsa.ba/"> Poljoprivredni fakultet Sarajevo </a> </li>
		<li> <a href="http://www.fsk.unsa.ba/"> Fakultet saobraćaja i komunikacija Sarajevo </a> </li>
	</ul>
</div>