<h2> Kviz </h2>
<div id="forma">
	<h4>Koji je glavni grad</h4>
	<div class="quiz">
		<div>
			<label> 
					<span>Drzava: </span> <span id="stateName"> </span>
			</label>
			<div class="health">
				 <img id="hertz1" src="Content/hertz.png">
				 <img id="hertz2" src="Content/hertz.png">
				 <img id="hertz3" src="Content/hertz.png">
			</div>
		</div>
		<div>
			<label class="capitalcity">
					<span>Glavni grad:</span>
					<input placeholder="Glavni grad..." type="text" tabindex="1" id="capitalcityid">
			</label>
		</div>
		<div>
			<label class="score">
					<span>Rezultat: </span> <span id="score"> </span>
			</label>
		</div>
		<div>
			<label class="time">
					<span>Vrijeme: </span> <span id="time"> </span>
			</label>
		</div>
		<div>
		<button id="startnext" onclick="startnext()">Start</button>
		</div>
	</div>
</div>
<div id="dialog">
	<div>
		  <h4> Kraj </h4>
          <p >Rezultat: </p>
          <p id="scoreDialog"> </p>
          <div>
          	<button id="cancelDialog" onclick="cancel()">Zatvori</button>
      	  </div>
     </div>
</div>