<h2> Raspored časova prvih razreda </h2>
<table>
<thead>
	<tr>
		<th class="topleft"> </th>
		<th> Ponedeljak </th>
		<th> Utorak </th>
		<th> Srijeda </th>
		<th> Četvrtak </th>
		<th> Petak </th>
	</tr>
</thead>
<tbody>
	<tr> 
		<td> 1 </td>
		<td> Bosanski </td>
		<td> Matematika </td>
		<td> Engleski </td>
		<td> Fizika </td>
		<td> Hemija </td>
	</tr>
	<tr> 
		<td> 2 </td>
		<td> Hemija </td>
		<td> Matematika </td>
		<td> Fizika </td>
		<td> Njemački </td>
		<td> Latinski </td>
	</tr>
	<tr> 
		<td> 3 </td>
		<td> Latinski </td>
		<td> Hemija </td>
		<td> Ruski </td>
		<td> Muzičko </td>
		<td> Likovno </td>
	</tr>
	<tr> 
		<td> 4 </td>
		<td> Fizičko </td>
		<td> Matematika </td>
		<td> Engleski </td>
		<td> Fizika </td>
		<td> Hemija </td>
	</tr>
	<tr> 
		<td> 5 </td>
		<td> Matematika </td>
		<td> Bosanski </td>
		<td> Njemački </td>
		<td> Engleski </td>
		<td> Fizika </td>
	</tr>
	<tr> 
		<td> 6 </td>
		<td> Bosanski </td>
		<td> Matematika </td>
		<td> Engleski </td>
		<td> Fizika </td>
		<td> Hemija </td>
	</tr>
	<tr> 
		<td> 7 </td>
		<td> Bosanski </td>
		<td> Matematika </td>
		<td> Engleski </td>
		<td> Fizika </td>
		<td> Hemija </td>
	</tr>
</tbody>
</table>